<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page Template</title>
       
        <meta charset="UTF-8">
        <meta name="author" content="Hot Dad">
        <meta name="description" content="Learning HTML and CSS">
        <meta name="keywords" content="testing, learning, dummy">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="styles/site.css">
    </head>
    <body>
        <header>
            Hotkey Fan Zone
        </header>

        <main>
            
        </main>

        <footer>
            <hr>
            <p><script src="scripts/footer.js"></script></p>
        </footer>
    </body>
</html>
