div#header-container {
    display: flex;
    justify-content:space-between;
  }
  div#header-left {
    flex: auto;
    justify-items: left;
    background-color: cyan;
  }
  div#header-middle {
    flex: 50%;
    text-align: left;
    max-width: 1024px;
  }
  div#header-right {
    flex: auto;
    text-align:right;
    background-color: forestgreen;
    color: gold;
  }
  