header {
    display: flex;
    justify-content:space-between;
  }
  header > div.left {
    flex: auto;
    justify-items: left;
    background-color: cyan;
  }
  header > div.middle {
    flex: 50%;
    text-align: left;
    max-width: 1024px;
  }
  header > div.right {
    flex: auto;
    text-align:right;
    background-color: forestgreen;
    color: gold;
  }
  