@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
    box-sizing: border-box;
}
  
body {
    --mainColor: red ;
    --altColor: white ;
    --activeWidth: 900px ;
    --leftMargin: 10px ;

    background-color: var(--altColor);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header {
    background-color: var(--mainColor);
    color: var(--altColor);
    font-family: 'Anton';
    font-size: 200%;
    font-weight: 500;
    padding: 30px 0px 30px 0px;
    display: flex;
    align-items: center ;

}
header > div.left {
    flex: 1 2 auto;
    background-color: cyan;
    min-width: var(--leftMargin);
  }
  header > div.middle {
    flex: 0 1 var(--activeWidth);
    text-align: left;

  }
  header > div.right {
    flex: 1 9 auto;
    text-align:right;
    background-color: forestgreen;
    color: gold;
  }
  main {
    margin: auto;
    max-width: var(--activeWidth);
    min-width: 400px;
  }

  footer {
    font-size: 50%;
    font-family: 'M PLUS 1 Code', 'Courier New', Courier, monospace;
    text-align: right;
}

h1 {
    color: blue;
}
p {
    padding-left: 0px;
}
p.just {
    text-align: justify;
    text-justify: inter-word;
}
ul {
    list-style: none ;
    margin: 12px 0px 0px 12px;
    padding: 0px;
    width: max-content;
}
ul>li {
    border-top: 1rem solid #fff ;
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
}
ul>li>a {
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}
ul>li>a:link , ul>li>a:visited {
    background-color: gray;
    color: white;
}
ul>li>a:hover , ul>li>a:active {
    background-color: black;
    color: white;
}
ul>li>a::after  {
    content: " ->>>";
}

ol {
    color: green;
    font-weight: bolder;
    font-style: italic;
}
a {
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    color: inherit;
}

p#y-test {
    color: yellow;
    background-color: darkgray;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
}
pre {
    font-family: 'M PLUS 1 Code', 'Courier New', Courier, monospace;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.float-left {
    float:left;
    padding: 12px;
}
img.float-right {
    float:right;
    padding: 12px;
}
.panic {
    background-color:red;
    color: white;
    font-style: italic;
    font-weight: 900;
    padding: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 10px;
    border-radius: 1rem;
}
.ok {
    background-color:blue;
    color: white;
    font-style: italic;
    font-weight: 900;
    padding: 10px;
    border-color: red;
    border-style: solid;
    border-width: 10px;
    border-radius: 1rem;
}
