@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    background-color:red;
    color: white;
    font-family: 'Anton';
    font-size: 200%;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
footer {
    font-size: 50%;
    font-family: 'M PLUS 1 Code', 'Courier New', Courier, monospace;
    text-align: right;
}
h1 {
    color: blue;
}
p {
    padding-left: 30px;
}
p.just {
    text-align: justify;
    text-justify: inter-word;
}

pre {
    font-family: 'M PLUS 1 Code', 'Courier New', Courier, monospace;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.float-left {
    float:left;
    padding: 12px;
}
img.float-right {
    float:right;
    padding: 12px;
}
.panic {
    background-color:red;
    color: white;
    font-style: italic;
    font-weight: 900;
    padding: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 10px;
    border-radius: 1rem;
}
.ok {
    background-color:blue;
    color: white;
    font-style: italic;
    font-weight: 900;
    padding: 10px;
    border-color: red;
    border-style: solid;
    border-width: 10px;
    border-radius: 1rem;
}
