body {
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    background-color:red;
    color: white;
    font-size: 200%;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
footer {
    font-size: 50%;
}
h1 {
    color: blue;
}
p {
    padding-left: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.panic{
    background-color:red;
    color: white;
    font-style: italic;
    font-weight: 900;
    padding-left: 50%px
}